.backgroundMain{
    margin-bottom: 100px;
}

.card{
    background-color: #aeacac;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    padding: 16px;
    margin: 16px;
    display: flex;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.containerFoto{
    width: 30%;
    display: flex;
    align-items: center;
}

.containerInfo{
    width: 70%;
}


.fotoCard{
    width: 200px;
    border-radius: 50%;
    padding: 16px;
    margin: 16px;
    display: flex;
}

button{
    background-color: rgb(21, 96, 181);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px black;
}

button:hover{
    background-color: rgb(31, 92, 16);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 3px 3px 8px black;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);

}